:root {
  --white: #fff;
  --black: #000;
  --main-background: #ebebe8;
  --light-green: #d1e2c4;
  --main-green: #778a35;
  --dark-green: #31352e;
  --danger: #970c10;
  --warning: #dd9c05;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  background-color: #ebebe8;
  font-weight: 300;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  text-align: left;
  text-transform: none;
  line-height: 24px;
}

h1 {
  font-size: 48px;
  color: #232c3d;
}

h2 {
  text-transform: uppercase;
  color: #778a35;
  text-align: center;
  font-weight: 300;
  margin: 10px 0;
}

.wrapper {
  margin: auto;
}

.buttonWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

button {
  border: none;
  padding: 10px;
  background-color: var(--main-background);
  color: var(--main-green);
  font-size: 18px;
  cursor: pointer;
  transition: 0.5s;
  font-weight: 200;
  text-transform: uppercase;
}

.tab-button {
  border-bottom: 1px solid var(--main-green);
}

button.active {
  background-color: var(--main-green);
  color: var(--white);
}

p {
  text-align: left;
  margin: 0;
  line-height: 24px;
}

.content {
  display: none;
  padding: 10px 20px;
}

.content.active {
  display: block;
}

.Dashboard--block p {
  text-transform: none;
}

.HomePage--button_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
}

.HomePage--button_wrapper .start, .HomePage--button_wrapper .stop{
  border: 1px solid var(--main-green);
  border-radius: 3px;
}

.HomePage--button_wrapper .start:hover, .HomePage--button_wrapper .stop:hover {
  background-color: var(--main-green);
  color: var(--white);
}

.HomePage--button_wrapper .shutdown, .HomePage--button_wrapper .cancel-shutdown {
  color: var(--white);
  font-weight: 300;
  border-radius: 3px;
}

.HomePage--button_wrapper .shutdown {
  background-color: var(--danger);
}


.HomePage--button_wrapper .shutdown:hover {
  background-color: #6f0b0e;
}

.HomePage--button_wrapper .cancel-shutdown {
background-color: var(--warning);
}

.HomePage--button_wrapper .cancel-shutdown:hover {
  background-color: #835c02;
  }
