/* Style from Ansi2HTMLConverter, when full=True is using */

.ansi2html-content { display: inline; white-space: pre-wrap; word-wrap: break-word; }
.body_foreground { color: #AAAAAA; }
.body_background { background-color: #000000; }
.body_foreground > .bold,.bold > .body_foreground, body.body_foreground > pre > .bold { color: #FFFFFF; font-weight: normal; }
.inv_foreground { color: #000000; }
.inv_background { background-color: #AAAAAA; }
.ansi92 { color: #40ea40; }
ul.battery_info { columns: 2; }

/*
body {
    background: white;
    color: green;
}
*/
