<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="5;url=/">
    <title>Stop/start button response</title>
    <link rel="stylesheet" href="static/style.css">
  </head>
  <body>

{% if terminal_output %}
  <pre>{{ terminal_output }}</pre>
{% endif %}

  </body>
</html>
