<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="30">
    <title>GNSS control Flask</title>
    <link rel="stylesheet" href="static/style-no-js.css">
  </head>
  <body>

{% if board_info %}
<ul class="board_info">
{% for key, value in board_info.items() -%}
  <li>{{ key }} = {{ value | round(2) }}
  {%- if key.endswith('percent') %} % {% elif key.startswith('Power') %} W {% elif key.endswith('voltage') %} V {% elif key.endswith('amperage') %} A {% elif key.endswith('temperature') %} °C {% endif %}
{% endfor %}
</ul>
{% endif %}

<p>Current <dfn><abbr title="single board computer">SBC</abbr></dfn> time is: <time>{{ time_now }}</time>.

{% if diff_max_mtime != 0 %}
<p>Difference with the latest modification time:
{% if diff_max_mtime > 5 -%}
  <mark>{{ diff_max_mtime | int }}</mark>
{% else -%}
  {{ diff_max_mtime | int }}
{% endif -%}
seconds.
{% endif %}

{% if nmea_files %}
<pre>
{% for file in nmea_files -%}
{{ file }}
{% endfor %}
</pre>
{% endif %}

{% if print_all_processes %}
<ul>
{% for item in print_all_processes -%}
  <li>{{ item }}
{% endfor %}
</ul>
{% endif %}

  <form method="post" action="/button">
    gpspipe:
    <input type="submit" name="stop" value="Stop">
    <input type="submit" name="start" value="Start">
    <p>SBC:
    <input type="submit" name="shutdown" value="Shutdown">
    <input type="submit" name="shutdown_cancel" value="Cancel shutdown">
  </form>

{% if include_webgps %}
  {% include '/tmp/webgps/gpsd-c.html' %}
{% endif %}

  <p><a href="static/webgps/gpsd-c.html">WebGPS.html</a>

  </body>
</html>
