<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/style-js.css" />
    <title>GNSS control Flask</title>
  </head>
  <body>
    <div id="root">
      <div class="wrapper">
        <div class="buttonWrapper">
          <button class="tab-button active" data-id="home">Home</button>
          <button class="tab-button" data-id="dashboard">Dashboard</button>
        </div>
        <div class="contentWrapper">
            <div class="HomePage content active" id="home">
              <div class="HomePage--content_wrapper">
                <h2>Parameters</h2>
                <ul>
                  <li>Battery: {{ board_info['Battery percent'] }}%
                  <li>Temperature: {{ board_info['CPU temperature'] }} / {{ board_info['PMIC temperature'] }} °C
                  <li>Last modification:
{% if diff_max_mtime > 5 -%}
  <mark>{{ diff_max_mtime | int }}</mark>
{% else -%}
  {{ diff_max_mtime | int }}
{% endif -%}
seconds ago.
                </ul>
              </div>
              <div class="HomePage--button_wrapper">
                <button type="submit" form="myForm" class="start" name="start" value="Start">
                  start
                </button>
                <button type="submit" form="myForm" class="stop" name="stop" value="Stop">
                  stop
                </button>
                <button type="submit" form="myForm" class="shutdown" name="shutdown" value="Shutdown">
                  shutdown
                </button>
                <button type="submit" form="myForm" class="cancel-shutdown" name="shutdown_cancel" value="Cancel shutdown">
                  cancel shutdown
                </button>
                <form method="post" action="/button" id="myForm">
                </form>
              </div>
            </div>
          <div class="Dashboard content" id="dashboard" >
{% if board_info %}
            <div class="Dashboard--block">
              <h2>Board info</h2>
              <ul>
{% for key, value in board_info.items() -%}
                <li>{{ key }} = {{ value | round(2) }}
  {%- if key.endswith('percent') %} % {% elif key.startswith('Power') %} W {% elif key.endswith('voltage') %} V {% elif key.endswith('amperage') %} A {% elif key.endswith('temperature') %} °C {% endif %}
{% endfor %}
              </ul>
            </div>
{% endif %}
            <div class="Dashboard--block">
              <h2>Other info</h2>
              <p>SBC date: {{ time_now }}
              <p>SBC time: 15:45:17
              <ul>
                <li>system load: 20%
                <li>memory usage: 11% of 998m
                <li>up time: 1:51
                <li>usage of: 5% of 29gb
              </ul>
            </div>
{% if print_all_processes %}
            <div class="Dashboard--block">
              <h2>Processes info</h2>
              <ul>
{% for item in print_all_processes -%}
                <li>{{ item }}
{% endfor %}
              </ul>
            </div>
{% endif %}

{% if nmea_files %}
            <div class="Dashboard--block">
              <h2>Previous records</h2>
              <ul>
{% for file in nmea_files -%}
                <li>{{ file }}
{% endfor %}
              </ul>
            </div>
{% endif %}

          </div>
        </div>
      </div>
    </div>
    <script src="static/tabs.js"></script>
  </body>
</html>
